<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.openmodelica.modelicaml.helper.commands.instantiaterequirements"
            name="Instantiate Requirements">
      </command>
      <command
            id="org.openmodelica.modelicaml.helper.commands.updateTestOracleElements"
            name="Create/Update Test Oracle Elements">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.openmodelica.modelicaml.helper.handlers.InstantiateRequirementsHandler"
            commandId="org.openmodelica.modelicaml.helper.commands.instantiaterequirements">
         <activeWhen>
            <with
                  variable="selection">
               <count
                     value="1">
               </count>
               <iterate>
                  <adapt
                        type="org.eclipse.emf.ecore.EObject">
                     <and>
                        <instanceof
                              value="org.eclipse.uml2.uml.Class">
                        </instanceof>
                        <or>
                           <test
                                 args="ModelicaML::ModelicaClassConstructs::Block"
                                 property="org.openmodelica.modelicaml.testers.hasStereotype">
                           </test>
                           <test
                                 args="ModelicaML::ModelicaClassConstructs::Model"
                                 property="org.openmodelica.modelicaml.testers.hasStereotype">
                           </test>
                           <test
                                 args="ModelicaML::ModelicaClassConstructs::ModelicaClass"
                                 property="org.openmodelica.modelicaml.testers.hasStereotype">
                           </test>
                        </or>
                        <and>
                           <not>
                              <instanceof
                                    value="org.eclipse.uml2.uml.Behavior">
                              </instanceof>
                           </not>
                        </and>
                     </and>
                  </adapt>
               </iterate>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="org.openmodelica.modelicaml.helper.handlers.GenerateTestOracleElementsHandler"
            commandId="org.openmodelica.modelicaml.helper.commands.updateTestOracleElements">
         <activeWhen>
            <with
                  variable="selection">
               <count
                     value="1">
               </count>
               <iterate>
                  <adapt
                        type="org.eclipse.emf.ecore.EObject">
                     <and>
                        <instanceof
                              value="org.eclipse.uml2.uml.Class">
                        </instanceof>
                        <or>
                           <test
                                 args="ModelicaML::ModelicaClassConstructs::Block"
                                 property="org.openmodelica.modelicaml.testers.hasStereotype">
                           </test>
                           <test
                                 args="ModelicaML::ModelicaClassConstructs::Model"
                                 property="org.openmodelica.modelicaml.testers.hasStereotype">
                           </test>
                           <test
                                 args="ModelicaML::ModelicaClassConstructs::ModelicaClass"
                                 property="org.openmodelica.modelicaml.testers.hasStereotype">
                           </test>
                        </or>
                        <and>
                           <not>
                              <instanceof
                                    value="org.eclipse.uml2.uml.Behavior">
                              </instanceof>
                           </not>
                        </and>
                     </and>
                  </adapt>
               </iterate>
            </with>
         </activeWhen>
      </handler>
   </extension>

</plugin>
