<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

<!--
   <extension
         point="org.eclipse.ui.menus">

      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.papyrus.modelexplorer.modelexplorer.popup">
 
         <command
               commandId="org.openmodelica.modelicaml.validation.subtree"
               icon="icons/validate.gif"
               label="ModelicaML: Validate"
               style="push"
               tooltip="Validate ModelicaML model (entire model)">
            <visibleWhen
                  checkEnabled="true">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <adapt
                           type="org.eclipse.emf.ecore.EObject">
                        <or>
                           <instanceof
                                 value="org.eclipse.uml2.uml.Package">
                           </instanceof>
                           <instanceof
                                 value="org.eclipse.uml2.uml.Class">
                           </instanceof>
                        </or>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   -->
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="org.openmodelica.modelicaml.category"
            class="org.openmodelica.modelicaml.validation.views.ModelicaMLValidationView"
            icon="icons/validate.gif"
            id="org.openmodelica.modelicaml.validation.view"
            name="ModelicaML Validation"
            restorable="true">
         <description>
            This view displays the validation errors and messages detected by the ModelicaML validator.
         </description>
      </view>
   </extension>
   
   
   <!-- NOTE: all marker types are defined in the mml.common plugin 
   <extension
         id="org.openmodelica.modelicaml.marker.validation.problemmarker"
         name="ModelicaML Validation"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.emf.validation.problem">
      </super>
      <super
            type="org.eclipse.emf.ecore.diagnostic">
      </super>
	  <super
            type="org.eclipse.core.resources.marker">
      </super>

      <persistent
            value="false">
      </persistent>

   </extension>
   -->
   
   <!-- TODO: Reactivate this menu as soon as the EMF Validation is supported in Eclipse 3.8 (Juno)  -->

   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="org.openmodelica.modelicaml.toolbar.validation"
               label="ModelicaML Validation">
            <command
                  commandId="org.openmodelica.modelicaml.validation.entiremodel"
                  icon="icons/validate.gif"
                  label="Validate ModelicaML Model"
                  style="push"
                  tooltip="Validate ModelicaML Model">
               <visibleWhen>
                  <with
                        variable="activeEditorId">
                     <equals
                           value="org.eclipse.papyrus.infra.core.papyrusEditor">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="org.openmodelica.modelicaml.perspective">
                  </equals>
               </with>
            </visibleWhen>
         </toolbar>
      </menuContribution>
   </extension>
   
   
   <extension
         point="org.eclipse.ui.commands">
      <!--
      <command
            id="org.openmodelica.modelicaml.validation.subtree"
            name="Validate ModelicaML subtree">
      </command>
      -->
      <command
            id="org.openmodelica.modelicaml.validation.entiremodel"
            name="Validate ModelicaML Entire Model">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <!--
      <handler
            class="org.openmodelica.modelicaml.validation.handlers.ModelicaMLValidationSubTreeAction"
            commandId="org.openmodelica.modelicaml.validation.subtree">
      </handler>
      -->
      <handler
            class="org.openmodelica.modelicaml.validation.handlers.ModelicaMLValidationAction"
            commandId="org.openmodelica.modelicaml.validation.entiremodel">
      </handler>
   </extension>
   <extension
         point="org.eclipse.emf.validation.constraintProviders">
      <category
            id="org.openmodelica.modelicaml.validation.batch"
            name="ModelicaML Batch">
      </category>
      <category
            id="org.openmodelica.modelicaml.validation.live"
            name="ModelicaML Live">
      </category>
      <constraintProvider
            cache="true">
         <package
               namespaceUri="http://www.eclipse.org/uml2/2.0.0/UML">
         </package>
         <package
               namespaceUri="http://www.eclipse.org/uml2/2.1.0/UML">
         </package>
         <package
               namespaceUri="http://www.eclipse.org/uml2/3.0.0/UML">
         </package>
         <package
               namespaceUri="http://www.eclipse.org/uml2/4.0.0/UML">
         </package>
         <!--<package
               namespaceUri="http://www.eclipse.org/uml2/3.0.0/UML">
         </package>
         -->
         <constraints
               categories="org.openmodelica.modelicaml.validation.batch">
            <constraint
                  class="org.openmodelica.modelicaml.validation.rules.classes.C03_ClassWithModelicaMLStereotypeConstraint"
                  id="org.openmodelica.modelicaml.validation.C3"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="C3_ClassWithModelicaMLStereotypeConstraint"
                  severity="WARNING"
                  statusCode="1">
               <message>
                  C3 {0}
               </message>
            </constraint>
            <constraint
                  class="org.openmodelica.modelicaml.validation.rules.classes.C04_ClassPropertyStereotypeConstraint"
                  id="org.openmodelica.modelicaml.validation.C4"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="C4_ClassPropertyStereotypeConstraint"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  C4 {0}
               </message>
            </constraint>
            <constraint
                  class="org.openmodelica.modelicaml.validation.rules.classes.C05_OpaqueBehaviorStereotypeConstraint"
                  id="org.openmodelica.modelicaml.validation.C5"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="C5_OpaqueBehaviorStereotypeConstraint"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  C5 {0}
               </message>
            </constraint>
            <constraint
                  class="org.openmodelica.modelicaml.validation.rules.classes.C06_StateMachineStereotypeConstraint"
                  id="org.openmodelica.modelicaml.validation.C6"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="C6_StateMachineStereotypeConstraint"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  C6 {0}
               </message>
            </constraint>
            <constraint
                  class="org.openmodelica.modelicaml.validation.rules.classes.C10_C11_FunctionBehaviorNumberOfParameterConstraint"
                  id="org.openmodelica.modelicaml.validation.C10_C11"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="C10_C11_FunctionBehaviorNumberOfParameterConstraint"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  C10-C11 {0}
               </message>
            </constraint>
            <constraint
                  class="org.openmodelica.modelicaml.validation.rules.classes.C12_PropertyCausalityOfBlockConstriant"
                  id="org.openmodelica.modelicaml.validation.C12"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="C12_PropertyCausalityOfBlockConstriant"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  C12 {0}
               </message>
            </constraint>
            <constraint
                  class="org.openmodelica.modelicaml.validation.rules.classes.C13_ConnectionStereotypeForConnectorConstraint"
                  id="org.openmodelica.modelicaml.validation.C13"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="C13_ConnectionStereotypeForConnectorConstraint"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  C13 {0}
               </message>
            </constraint>
            <constraint
                  class="org.openmodelica.modelicaml.validation.rules.classes.C14_ConnectionPortStereotypeForPortsOfConnectorConstraint"
                  id="org.openmodelica.modelicaml.validation.C14"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="C14_ConnectionPortStereotypeForPortsOfConnectorConstraint"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  C14 {0}
               </message>
            </constraint>
            <constraint
                  class="org.openmodelica.modelicaml.validation.rules.classes.C15_RedeclareRelationStereotypeForDependencyOfClassConstraint"
                  id="org.openmodelica.modelicaml.validation.C15"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="C15_RedeclareRelationStereotypeForDependencyOfClassConstraint"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  C15 {0}
               </message>
            </constraint>
            <constraint
                  class="org.openmodelica.modelicaml.validation.rules.classes.C16_ConstrainedByRelationStereotypeForDependencyOfClassConstraint"
                  id="org.openmodelica.modelicaml.validation.C16"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="C16_ConstrainedByRelationStereotypeForDependencyOfClassConstraint"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  C16 {0}
               </message>
            </constraint>
            <constraint
                  class="org.openmodelica.modelicaml.validation.rules.classes.C17_PartialDerivationRelationStereotypeForDependencyOfFunctionBehaviorConstraint"
                  id="org.openmodelica.modelicaml.validation.C17"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="C17_PartialDerivationRelationStereotypeForDependencyOfFunctionBehaviorConstraint"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  C17 {0}
               </message>
            </constraint>
            <constraint
                  class="org.openmodelica.modelicaml.validation.rules.classes.C18_GeneralizationStereotypeConstraint"
                  id="org.openmodelica.modelicaml.validation.C18"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="C18_GeneralizationStereotypeConstraint"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  C18 {0}
               </message>
            </constraint>
            <constraint
                  class="org.openmodelica.modelicaml.validation.rules.classes.C19_ClassInheritanceRulesConstraint"
                  id="org.openmodelica.modelicaml.validation.C19"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="C19_ClassInheritanceRulesConstraint"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  C19 {0}
               </message>
            </constraint>
            <constraint
                  class="org.openmodelica.modelicaml.validation.rules.classes.C31_ChoiceOrjunctionStateHaveOnlyOneIncomingAndAtLeastOneOutgoingTransitionConstraint"
                  id="org.openmodelica.modelicaml.validation.C31"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="C31_ChoiceOrjunctionStateHaveOnlyOneIncomingAndAtLeastOneOutgoingTransitionConstraint"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  C31 {0}
               </message>
            </constraint>
            <constraint
                  class="org.openmodelica.modelicaml.validation.rules.classes.C32_ChoiceOrJunctionStateShouldHaveOneElseBranchConstraint"
                  id="org.openmodelica.modelicaml.validation.C32"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="C32_ChoiceOrJunctionStateShouldHaveOneElseBranchConstraint"
                  severity="WARNING"
                  statusCode="1">
               <message>
                  C32 {0}
               </message>
            </constraint>
            <constraint
                  class="org.openmodelica.modelicaml.validation.rules.classes.C34_ForkStateMustHaveOnlyOneIncomingAndAtleastTwoOutgoingConstraint"
                  id="org.openmodelica.modelicaml.validation.C34"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="C34_ForkStateMustHaveOnlyOneIncomingAndAtleastTwoOutgoingConstraint"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  C34 {0}
               </message>
            </constraint>
            <constraint
                  class="org.openmodelica.modelicaml.validation.rules.classes.C36_JoinOutgoingTransitionToStateOrFinalStateConstraint"
                  id="org.openmodelica.modelicaml.validation.C36"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="C36_JoinOutgoingTransitionToStateOrFinalStateConstraint"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  C36 {0}
               </message>
            </constraint>
            <constraint
                  class="org.openmodelica.modelicaml.validation.rules.classes.C37_JoinMustHaveOnlyTwoIncomingAndOneOutgoingTransitionConstraint"
                  id="org.openmodelica.modelicaml.validation.C37"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="C37_JoinMustHaveOnlyTwoIncomingAndOneOutgoingTransitionConstraint"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  C37 {0}
               </message>
            </constraint>
            <constraint
                  class="org.openmodelica.modelicaml.validation.rules.classes.C38_TransitionToJoinFromSourcetMustBeStatesOfDifferentRegionInCompositeStateConstraint"
                  id="org.openmodelica.modelicaml.validation.C38"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="C38_TransitionToJoinFromSourcetMustBeStatesOfDifferentRegionInCompositeStateConstraint"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  C38 {0}
               </message>
            </constraint>
            <constraint
                  class="org.openmodelica.modelicaml.validation.rules.classes.C39_TransitionCannotCrossRegionBordersOfCompositeStateConstraint"
                  id="org.openmodelica.modelicaml.validation.C39"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="C39_TransitionCannotCrossRegionBordersOfCompositeStateConstraint"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  C39 {0}
               </message>
            </constraint>
            <constraint
                  class="org.openmodelica.modelicaml.validation.rules.classes.C40_ConnectionPointReferenceHaveOnlyOneEntryPointReferenceConstriant"
                  id="org.openmodelica.modelicaml.validation.C40"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="C40_ConnectionPointReferenceHaveOnlyOneEntryPointReferenceConstriant"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  C40 {0}
               </message>
            </constraint>
            <constraint
                  class="org.openmodelica.modelicaml.validation.rules.classes.C41_ConnectionPointReferenceHaveOnlyOneExitPointReferenceConstraint"
                  id="org.openmodelica.modelicaml.validation.C41"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="C41_ConnectionPointReferenceHaveOnlyOneExitPointReferenceConstraint"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  C41 {0}
               </message>
            </constraint>
            <constraint
                  class="org.openmodelica.modelicaml.validation.rules.classes.C42_ConncectionPointReferenceToEntryPointHaveNoOutgoingTransitionConstraint"
                  id="org.openmodelica.modelicaml.validation.C42"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="C42_ConncectionPointReferenceToEntryPointHaveNoOutgoingTransitionConstraint"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  C42 {0}
               </message>
            </constraint>
            <constraint
                  class="org.openmodelica.modelicaml.validation.rules.classes.C43_ConncectionPointReferenceToExitPointHaveNoIncomingTransitionConstraint"
                  id="org.openmodelica.modelicaml.validation.C43"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="C43_ConncectionPointReferenceToExitPointHaveNoIncomingTransitionConstraint"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  C43 {0}
               </message>
            </constraint>
            <constraint
                  class="org.openmodelica.modelicaml.validation.rules.classes.C44_ConnectionPointReferenceToExitPointMustHaveOutgoingTransitionConstraint"
                  id="org.openmodelica.modelicaml.validation.C44"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="C44_ConnectionPointReferenceToExitPointMustHaveOutgoingTransitionConstraint"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  C44 {0}
               </message>
            </constraint>
            <constraint
                  class="org.openmodelica.modelicaml.validation.rules.classes.C45_FinalStateHaveNoOutgoingTransitionsConstrainst"
                  id="org.openmodelica.modelicaml.validation.C45"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="C45_FinalStateHaveNoOutgoingTransitionsConstrainst"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  C45 {0}
               </message>
            </constraint>
            <constraint
                  class="org.openmodelica.modelicaml.validation.rules.classes.C46_TerminateStateHaveNoOutgoingTransitionsConstraint"
                  id="org.openmodelica.modelicaml.validation.C46"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Batch"
                  name="C46_TerminateStateHaveNoOutgoingTransitionsConstraint"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  C46 {0}
               </message>
            </constraint>
         </constraints>
         <constraints
               categories="org.openmodelica.modelicaml.validation.live">
            <constraint
                  class="org.openmodelica.modelicaml.validation.rules.classes.C01_C02_NonSimilarNamesConstraint"
                  id="org.openmodelica.modelicaml.validation.C1_C2"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Live"
                  name="C1_C2_NonSimilarNamesConstraint"
                  severity="WARNING"
                  statusCode="1">
               <message>
                  C1 {0}
               </message>
               <target
                     class="NamedElement">
                  <customEvent
                        name="Set">
                     <feature
                           name="name">
                     </feature>
                  </customEvent>
                  <customEvent
                        name="Unset">
                     <feature
                           name="name">
                     </feature>
                  </customEvent>
               </target>
            </constraint>
            <constraint
                  class="org.openmodelica.modelicaml.validation.rules.classes.C07_ClassElementsInstanceConstraint"
                  id="org.openmodelica.modelicaml.validation.C7"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Live"
                  name="C7_ClassElementsInstanceConstraint"
                  severity="WARNING"
                  statusCode="1">
               <message>
                  C7 {0}
               </message>
            </constraint>
            <constraint
                  class="org.openmodelica.modelicaml.validation.rules.classes.C08_ModelicaPackageClassElementsInstanceConstraint"
                  id="org.openmodelica.modelicaml.validation.C8"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Live"
                  name="C8_ModelicaPackageClassElementsInstanceConstraint"
                  severity="WARNING"
                  statusCode="1">
               <message>
                  C8 {0}
               </message>
            </constraint>
            <constraint
                  class="org.openmodelica.modelicaml.validation.rules.classes.C09_NonCircularStatemachineReferencesConstraint"
                  id="org.openmodelica.modelicaml.validation.C9"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Live"
                  name="C9_NonCircularStatemachineReferencesConstraint"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  C9 {0}
               </message>
            </constraint>
            <constraint
                  class="org.openmodelica.modelicaml.validation.rules.classes.C21_ExitPointHaveOnlyOneIncomingTransitionConstraint"
                  id="org.openmodelica.modelicaml.validation.C21"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Live"
                  name="C21_ExitPointHaveOnlyOneIncomingTransitionConstraint"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  C21 {0}
               </message>
            </constraint>
            <constraint
                  class="org.openmodelica.modelicaml.validation.rules.classes.C22_EntryPointHaveNoIncomingTransitionConstraint"
                  id="org.openmodelica.modelicaml.validation.C22"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Live"
                  name="C22_EntryPointHaveNoIncomingTransitionConstraint"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  C22 {0}
               </message>
            </constraint>
            <constraint
                  class="org.openmodelica.modelicaml.validation.rules.classes.C23_ExitPointHaveNoOutgoingTransitionConstraint"
                  id="org.openmodelica.modelicaml.validation.C23"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Live"
                  name="C23_ExitPointHaveNoOutgoingTransitionConstraint"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  C23 {0}
               </message>
            </constraint>
            <constraint
                  class="org.openmodelica.modelicaml.validation.rules.classes.C24_DeepHistoryNotSupportedConstraint"
                  id="org.openmodelica.modelicaml.validation.C24"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Live"
                  name="C24_DeepHistoryNotSupportedConstraint"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  C24 {0}
               </message>
            </constraint>
            <constraint
                  class="org.openmodelica.modelicaml.validation.rules.classes.C25_ModelicaMLStateMachineHaveOnlyOneInitialStateConstraint"
                  id="org.openmodelica.modelicaml.validation.C25"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Live"
                  name="C25_ModelicaMLStateMachineHaveOnlyOneInitialStateConstraint"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  C25 {0}
               </message>
            </constraint>
            <constraint
                  class="org.openmodelica.modelicaml.validation.rules.classes.C26_InitialStateHaveOnlyOneOutgoingTransitionConstraint"
                  id="org.openmodelica.modelicaml.validation.C26"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Live"
                  name="C26_InitialStateHaveOnlyOneOutgoingTransitionConstraint"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  C26 {0}
               </message>
            </constraint>
            <constraint
                  class="org.openmodelica.modelicaml.validation.rules.classes.C27_NoGuardForOutgoingTransitionOfInitialStateConstraint"
                  id="org.openmodelica.modelicaml.validation.C27"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Live"
                  name="C27_NoGuardForOutgoingTransitionOfInitialStateConstraint"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  C27 {0}
               </message>
            </constraint>
            <constraint
                  class="org.openmodelica.modelicaml.validation.rules.classes.C28_ModelicaMLStateMachineHaveOnlyOneShallowHistoryStateConstraint"
                  id="org.openmodelica.modelicaml.validation.C28"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Live"
                  name="C28_ModelicaMLStateMachineHaveOnlyOneShallowHistoryStateConstraint"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  C28 {0}
               </message>
            </constraint>
            <constraint
                  class="org.openmodelica.modelicaml.validation.rules.classes.C29_ModelicaMLStateMachineHaveOnlyOneInitialOrShallowHistoryStateConstraint"
                  id="org.openmodelica.modelicaml.validation.C29"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Live"
                  name="C29_ModelicaMLStateMachineHaveOnlyOneInitialOrShallowHistoryStateConstraint"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  C29 {0}
               </message>
            </constraint>
            <constraint
                  class="org.openmodelica.modelicaml.validation.rules.classes.C30_OutgoingTransitionToAStateFromInitialOrShallowHistoryStateHaveSameRegionConstraint"
                  id="org.openmodelica.modelicaml.validation.C30"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Live"
                  name="C30_OutgoingTransitionToAStateFromInitialOrShallowHistoryStateHaveSameRegionConstraint"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  C30 {0}
               </message>
            </constraint>
            <constraint
                  class="org.openmodelica.modelicaml.validation.rules.classes.C33_TransitionToForkFromStateMustBeSameRegionConstraint"
                  id="org.openmodelica.modelicaml.validation.C33"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Live"
                  name="C33_TransitionToForkFromStateMustBeSameRegionConstraint"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  C33 {0}
               </message>
            </constraint>
            <constraint
                  class="org.openmodelica.modelicaml.validation.rules.classes.C35_TransitionFromForkToTargetMustBeStatesOfDifferentRegionInCompositeStateConstraint"
                  id="org.openmodelica.modelicaml.validation.C35"
                  isEnabledByDefault="true"
                  lang="Java"
                  mode="Live"
                  name="C35_TransitionFromForkToTargetMustBeStatesOfDifferentRegionInCompositeStateConstraint"
                  severity="ERROR"
                  statusCode="1">
               <message>
                  C35 {0}
               </message>
            </constraint>
         </constraints>
      </constraintProvider>
   </extension>
   <extension
         point="org.eclipse.emf.validation.constraintBindings">
      <clientContext
            default="false"
            id="org.openmodelica.modelicaml.validation.ClientContext">
         <selector
               class="org.openmodelica.modelicaml.validation.context.ValidationDelegateClientSelector">
         </selector>
      </clientContext>
      <binding
            context="org.openmodelica.modelicaml.validation.ClientContext">
         <category
               ref="org.openmodelica.modelicaml.validation.batch">
         </category>
         <category
               ref="org.openmodelica.modelicaml.validation.live">
         </category>
      </binding>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.openmodelica.modelicaml.validation.view">
         <command
               commandId="org.eclipse.ui.edit.selectAll"
               icon="icons/selectall.gif"
               label="Select all"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.ide.markerSupport">
      <markerContentGenerator
            id="org.openmodelica.modelicaml.markerContentGenerator"
            name="ModelicaML marker generator">
         <markerTypeReference
               id="org.eclipse.emf.validation.problem">
         </markerTypeReference>
         <markerTypeReference
               id="org.eclipse.emf.ecore.diagnostic">
         </markerTypeReference>
         <markerTypeReference
               id="org.eclipse.core.resources.marker">
         </markerTypeReference>
 
         <markerTypeReference
               id="org.openmodelica.modelicaml.marker.validation.problemmarker">
         </markerTypeReference>
         <markerTypeReference
               id="org.openmodelica.modelicaml.marker.bindings">
         </markerTypeReference>
         <markerTypeReference
               id="org.openmodelica.modelicaml.marker.actionCode.componentmodification">
         </markerTypeReference>
         <markerTypeReference
               id="org.openmodelica.modelicaml.marker.actionCode">
         </markerTypeReference>
         <markerTypeReference
               id="org.openmodelica.modelicaml.marker.modelicaloading">
         </markerTypeReference>
         <markerTypeReference
               id="org.openmodelica.modelicaml.marker.modelicamlproxies">
         </markerTypeReference>
         <markerTypeReference
               id="org.openmodelica.modelicaml.marker.omc">
         </markerTypeReference>
         
         <markerFieldReference
               id="org.eclipse.ui.ide.severityAndDescriptionField"
               visible="true">
         </markerFieldReference>
         <markerFieldReference
               id="org.eclipse.ui.ide.locationField"
               visible="true">
         </markerFieldReference>
         <markerFieldReference
               id="org.eclipse.ui.ide.creationTimeField"
               visible="true">
         </markerFieldReference>
         <markerFieldReference
               id="org.eclipse.ui.ide.markerType"
               visible="true">
         </markerFieldReference>
         
      </markerContentGenerator>
   </extension>
   <extension
         point="org.eclipse.papyrus.infra.services.decoration.decorationSpecificFunctions">
      <client
            class="org.eclipse.papyrus.infra.services.validation.ValidationFunctions"
            decorationType="org.openmodelica.modelicaml.marker.validation.problemmarker">
      </client>
   </extension>
   <extension
         point="org.eclipse.papyrus.infra.services.decoration.decorationSpecificFunctions">
      <client
            class="org.eclipse.papyrus.infra.services.validation.ValidationFunctions"
            decorationType="org.openmodelica.modelicaml.marker.bindings">
      </client>
   </extension>
   <extension
         point="org.eclipse.papyrus.infra.services.decoration.decorationSpecificFunctions">
      <client
            class="org.eclipse.papyrus.infra.services.validation.ValidationFunctions"
            decorationType="org.openmodelica.modelicaml.marker.actionCode.componentmodification">
      </client>
   </extension>
   <extension
         point="org.eclipse.papyrus.infra.services.decoration.decorationSpecificFunctions">
      <client
            class="org.eclipse.papyrus.infra.services.validation.ValidationFunctions"
            decorationType="org.openmodelica.modelicaml.marker.actionCode">
      </client>
   </extension>
   <extension
         point="org.eclipse.papyrus.infra.services.decoration.decorationSpecificFunctions">
      <client
            class="org.eclipse.papyrus.infra.services.validation.ValidationFunctions"
            decorationType="org.openmodelica.modelicaml.marker.modelicaloading">
      </client>
   </extension>
   <extension
         point="org.eclipse.papyrus.infra.services.decoration.decorationSpecificFunctions">
      <client
            class="org.eclipse.papyrus.infra.services.validation.ValidationFunctions"
            decorationType="org.openmodelica.modelicaml.marker.modelicamlproxies">
      </client>
   </extension>
   <extension
         point="org.eclipse.papyrus.infra.services.decoration.decorationSpecificFunctions">
      <client
            class="org.eclipse.papyrus.infra.services.validation.ValidationFunctions"
            decorationType="org.openmodelica.modelicaml.marker.omc">
      </client>
   </extension>
   
   
 <!--  <extension
         point="org.eclipse.emf.validation.ui.UIRegisteredClientContext">
      <clientContext
            id="org.openmodelica.modelicaml.validation.ClientContext">
      </clientContext>
   </extension>
-->
</plugin>
