<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.modelica.mdt.ModelicaCategory"
            name="Modelica"/>
      <view
            category="org.modelica.mdt.ModelicaCategory"
            class="org.modelica.mdt.ProjectsView"
            icon="icons/modelicaProject.gif"
            id="org.modelica.mdt.ProjectsView"
            name="Modelica Projects"/>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.modelica.mdt.ModelicaCategory"
            name="Modelica"/>
      <wizard
            category="org.modelica.mdt.ModelicaCategory"
            class="org.modelica.mdt.NewProjectWizard"
            icon="icons/modelicaProject.gif"
            id="org.modelica.mdt.NewProjectWizard"
            name="Modelica Project"
            project="true">
         <description>
            Create a new Modelica project.
         </description>
      </wizard>
   </extension>
   <extension
         id="org.modelica.mdt.editor"
         name="Modelica Editor"
         point="org.eclipse.ui.editors">
      <editor
            class="org.modelica.mdt.editor.ModelicaEditor"
            icon="icons/modelicaFile.gif"
            default="false"
            name="Modelica Editor"
            contributorClass="org.modelica.mdt.editor.BasicTextEditorActionContributor"
            id="org.modelica.mdt.editor"
            extensions="mo"/>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.modelica.mdt.PerspectiveFactory"
            icon="icons/modelicaProject.gif"
            id="org.eclipse.mdt.perspective"
            name="Modelica"/>
   </extension>
</plugin>
