<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="TreeOutlinePage">
         <propertyTab
               afterTab="org.openmodelica.modelicaml.properties.main"
               category="org.eclipse.papyrus"
               id="org.openmodelica.modelicaml.tabbedproperties.equationsection.code.tab"
               indented="true"
               label="Equations">
         </propertyTab>
         <propertyTab
               afterTab="org.openmodelica.modelicaml.properties.main"
               category="org.eclipse.papyrus"
               id="org.openmodelica.modelicaml.tabbedproperties.algorithmsection.code.tab"
               indented="true"
               label="Algorithm">
         </propertyTab>
         <propertyTab
               afterTab="org.openmodelica.modelicaml.tabbedproperties.conditionalexpression.tab"
               category="org.eclipse.papyrus"
               id="org.openmodelica.modelicaml.tabbedproperties.arraysubscripts.tab"
               indented="true"
               label="Array Subscripts">
         </propertyTab>
         <propertyTab
               afterTab="org.openmodelica.modelicaml.tabbedproperties.modifications.tab"
               category="org.eclipse.papyrus"
               id="org.openmodelica.modelicaml.tabbedproperties.conditionalexpression.tab"
               indented="true"
               label="Cond. Expression">
         </propertyTab>
         <propertyTab
               afterTab="org.openmodelica.modelicaml.properties.main"
               category="org.eclipse.papyrus"
               id="org.openmodelica.modelicaml.tabbedproperties.declaration.tab"
               indented="true"
               label="Declaration">
         </propertyTab>
         <propertyTab
               afterTab="org.openmodelica.modelicaml.tabbedproperties.declaration.tab"
               category="org.eclipse.papyrus"
               id="org.openmodelica.modelicaml.tabbedproperties.modifications.tab"
               indented="true"
               label="Modifications">
         </propertyTab>
         <propertyTab
               afterTab="org.openmodelica.modelicaml.tabbedproperties.statedo.code.tab"
               category="org.eclipse.papyrus"
               id="org.openmodelica.modelicaml.tabbedproperties.stateexit.code.tab"
               indented="true"
               label="Exit Code">
         </propertyTab>
         <propertyTab
               afterTab="org.openmodelica.modelicaml.tabbedproperties.stateentry.code.tab"
               category="org.eclipse.papyrus"
               id="org.openmodelica.modelicaml.tabbedproperties.statedo.code.tab"
               indented="true"
               label="Do Code">
         </propertyTab>
         <propertyTab
               afterTab="org.openmodelica.modelicaml.properties.main"
               category="org.eclipse.papyrus"
               id="org.openmodelica.modelicaml.tabbedproperties.stateentry.code.tab"
               indented="true"
               label="Entry Code">
         </propertyTab>
         <propertyTab
               afterTab="org.openmodelica.modelicaml.properties.main"
               category="org.eclipse.papyrus"
               id="org.openmodelica.modelicaml.tabbedproperties.extendsmodifications.tab"
               indented="true"
               label="Modifications">
         </propertyTab>
         <propertyTab
               afterTab="org.openmodelica.modelicaml.properties.main"
               category="org.eclipse.papyrus"
               id="org.openmodelica.modelicaml.tabbedproperties.regionpriority.tab"
               indented="true"
               label="Priority">
         </propertyTab>
         <propertyTab
               afterTab="org.openmodelica.modelicaml.properties.main"
               category="org.eclipse.papyrus"
               id="org.openmodelica.modelicaml.tabbedproperties.statetransitionpriority.tab"
               indented="true"
               label="Priority">
         </propertyTab>
         <propertyTab
               afterTab="org.openmodelica.modelicaml.properties.main"
               category="org.eclipse.papyrus"
               id="org.openmodelica.modelicaml.tabbedproperties.activityedgepriority.tab"
               indented="true"
               label="Priority">
         </propertyTab>
         <propertyTab
               afterTab="org.openmodelica.modelicaml.properties.main"
               category="org.eclipse.papyrus"
               id="org.openmodelica.modelicaml.tabbedproperties.statetransitionguard.code.tab"
               indented="true"
               label="Guard Code">
         </propertyTab>
         <propertyTab
               afterTab="org.openmodelica.modelicaml.properties.main"
               category="org.eclipse.papyrus"
               id="org.openmodelica.modelicaml.tabbedproperties.activityedgeguard.code.tab"
               indented="true"
               label="Guard Code">
         </propertyTab>
         <propertyTab
               afterTab="org.openmodelica.modelicaml.properties.main"
               category="org.eclipse.papyrus"
               id="org.openmodelica.modelicaml.tabbedproperties.assert.code.tab"
               indented="true"
               label="Assert Condition">
         </propertyTab>
         <propertyTab
               afterTab="org.openmodelica.modelicaml.properties.main"
               category="org.eclipse.papyrus"
               id="org.openmodelica.modelicaml.tabbedproperties.statemachine.additionalcode.tab"
               indented="true"
               label="Initialization">
         </propertyTab>
         <propertyTab
               afterTab="org.openmodelica.modelicaml.properties.main"
               category="org.eclipse.papyrus"
               id="org.openmodelica.modelicaml.tabbedproperties.statemachine.samplingexpression.tab"
               indented="true"
               label="Sampling">
         </propertyTab>
         <propertyTab
               afterTab="org.openmodelica.modelicaml.properties.main"
               category="org.eclipse.papyrus"
               id="org.openmodelica.modelicaml.tabbedproperties.statemachine.freezeexpression.tab"
               indented="true"
               label="State Freeze">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="TreeOutlinePage">
         <propertySection
               class="org.openmodelica.modelicaml.tabbedproperties.editors.sections.EquationSectionCodeSection"
               enablesFor="1"
               filter="org.openmodelica.modelicaml.tabbedproperties.editors.filters.EquationSectionCodeSectionFilter"
               id="org.openmodelica.modelicaml.tabbedproperties.equationsection.code.tab.section"
               tab="org.openmodelica.modelicaml.tabbedproperties.equationsection.code.tab">
            <!--<input
                  type="org.eclipse.gmt.modisco.infra.browser.uicore.internal.model.ModelElementItem">
            </input>
            <input
                  type="org.eclipse.papyrus.uml.diagram.common.editparts.IUMLEditPart">
            </input>-->
         </propertySection>
         <propertySection
               class="org.openmodelica.modelicaml.tabbedproperties.editors.sections.AlgorithmSectionCodeSection"
               enablesFor="1"
               filter="org.openmodelica.modelicaml.tabbedproperties.editors.filters.AlgorithmSectionCodeSectionFilter"
               id="org.openmodelica.modelicaml.tabbedproperties.algorithmsection.code.tab.section"
               tab="org.openmodelica.modelicaml.tabbedproperties.algorithmsection.code.tab">
            <!--<input
                  type="org.eclipse.gmt.modisco.infra.browser.uicore.internal.model.ModelElementItem">
            </input>
            <input
                  type="org.eclipse.papyrus.uml.diagram.common.editparts.IUMLEditPart">
            </input>-->
         </propertySection>
         <propertySection
               class="org.openmodelica.modelicaml.tabbedproperties.editors.sections.InstanceModificationsSection"
               enablesFor="1"
               filter="org.openmodelica.modelicaml.tabbedproperties.editors.filters.ComponentPropertySectionEditorFilter"
               id="org.openmodelica.modelicaml.tabbedproperties.modifications.tab.section"
               tab="org.openmodelica.modelicaml.tabbedproperties.modifications.tab">
            <!--<input
                  type="org.eclipse.gmt.modisco.infra.browser.uicore.internal.model.ModelElementItem">
            </input>
            <input
                  type="org.eclipse.papyrus.uml.diagram.common.editparts.IUMLEditPart">
            </input>-->
         </propertySection>
         <propertySection
               class="org.openmodelica.modelicaml.tabbedproperties.editors.sections.ArraySubscriptsSection"
               enablesFor="1"
               filter="org.openmodelica.modelicaml.tabbedproperties.editors.filters.ComponentPropertySectionEditorFilter"
               id="org.openmodelica.modelicaml.tabbedproperties.arraysubscripts.tab.section"
               tab="org.openmodelica.modelicaml.tabbedproperties.arraysubscripts.tab">
            <!--<input
                  type="org.eclipse.gmt.modisco.infra.browser.uicore.internal.model.ModelElementItem">
            </input>
            <input
                  type="org.eclipse.papyrus.uml.diagram.common.editparts.IUMLEditPart">
            </input>-->
         </propertySection>
         <propertySection
               class="org.openmodelica.modelicaml.tabbedproperties.editors.sections.DeclarationCodeSection"
               enablesFor="1"
               filter="org.openmodelica.modelicaml.tabbedproperties.editors.filters.DeclarationPropertySectionEditorFilter"
               id="org.openmodelica.modelicaml.tabbedproperties.declaration.tab.section"
               tab="org.openmodelica.modelicaml.tabbedproperties.declaration.tab">
            <!--<input
                  type="org.eclipse.gmt.modisco.infra.browser.uicore.internal.model.ModelElementItem">
            </input>
            <input
                  type="org.eclipse.papyrus.uml.diagram.common.editparts.IUMLEditPart">
            </input>-->
         </propertySection>
         <propertySection
               class="org.openmodelica.modelicaml.tabbedproperties.editors.sections.StateTransistionGuardCodeSection"
               enablesFor="1"
               filter="org.openmodelica.modelicaml.tabbedproperties.editors.filters.StateTransitionGuardCodePropertySectionEditorFilter"
               id="org.openmodelica.modelicaml.tabbedproperties.statetransitionguard.code.tab.section"
               tab="org.openmodelica.modelicaml.tabbedproperties.statetransitionguard.code.tab">
            <!--<input
                  type="org.eclipse.gmt.modisco.infra.browser.uicore.internal.model.ModelElementItem">
            </input>
            <input
                  type="org.eclipse.papyrus.uml.diagram.common.editparts.IUMLEditPart">
            </input>-->
         </propertySection>
         <propertySection
               class="org.openmodelica.modelicaml.tabbedproperties.editors.sections.StateEntryCodeSection"
               enablesFor="1"
               filter="org.openmodelica.modelicaml.tabbedproperties.editors.filters.StateEntryCodePropertySectionEditorFilter"
               id="org.openmodelica.modelicaml.tabbedproperties.stateentry.code.tab.section"
               tab="org.openmodelica.modelicaml.tabbedproperties.stateentry.code.tab">
            <!--<input
                  type="org.eclipse.gmt.modisco.infra.browser.uicore.internal.model.ModelElementItem">
            </input>
            <input
                  type="org.eclipse.papyrus.uml.diagram.common.editparts.IUMLEditPart">
            </input>-->
         </propertySection>
         <propertySection
               class="org.openmodelica.modelicaml.tabbedproperties.editors.sections.StateDoCodeSection"
               enablesFor="1"
               filter="org.openmodelica.modelicaml.tabbedproperties.editors.filters.StateDoCodePropertySectionEditorFilter"
               id="org.openmodelica.modelicaml.tabbedproperties.statedo.code.tab.section"
               tab="org.openmodelica.modelicaml.tabbedproperties.statedo.code.tab">
            <!--<input
                  type="org.eclipse.gmt.modisco.infra.browser.uicore.internal.model.ModelElementItem">
            </input>
            <input
                  type="org.eclipse.papyrus.uml.diagram.common.editparts.IUMLEditPart">
            </input>-->
         </propertySection>
         <propertySection
               class="org.openmodelica.modelicaml.tabbedproperties.editors.sections.StateExitCodeSection"
               enablesFor="1"
               filter="org.openmodelica.modelicaml.tabbedproperties.editors.filters.StateExitCodePropertySectionEditorFilter"
               id="org.openmodelica.modelicaml.tabbedproperties.stateexit.code.tab.section"
               tab="org.openmodelica.modelicaml.tabbedproperties.stateexit.code.tab">
            <!--<input
                  type="org.eclipse.gmt.modisco.infra.browser.uicore.internal.model.ModelElementItem">
            </input>
            <input
                  type="org.eclipse.papyrus.uml.diagram.common.editparts.IUMLEditPart">
            </input>-->
         </propertySection>
         <propertySection
               class="org.openmodelica.modelicaml.tabbedproperties.editors.sections.ConditionalExpressionCodeSection"
               enablesFor="1"
               filter="org.openmodelica.modelicaml.tabbedproperties.editors.filters.ConditionalExpressionPropertySectionEditorFilter"
               id="org.openmodelica.modelicaml.tabbedproperties.conditionalexpression.tab.section"
               tab="org.openmodelica.modelicaml.tabbedproperties.conditionalexpression.tab">
            <!--<input
                  type="org.eclipse.gmt.modisco.infra.browser.uicore.internal.model.ModelElementItem">
            </input>
            <input
                  type="org.eclipse.papyrus.uml.diagram.common.editparts.IUMLEditPart">
            </input>-->
         </propertySection>
         <propertySection
               class="org.openmodelica.modelicaml.tabbedproperties.editors.sections.ExtendsModificationsSection"
               enablesFor="1"
               filter="org.openmodelica.modelicaml.tabbedproperties.editors.filters.ExtendsModificationsPropertySectionEditorFilter"
               id="org.openmodelica.modelicaml.tabbedproperties.extendsmodifications.tab.section"
               tab="org.openmodelica.modelicaml.tabbedproperties.extendsmodifications.tab">
            <!--<input
                  type="org.eclipse.gmt.modisco.infra.browser.uicore.internal.model.ModelElementItem">
            </input>
            <input
                  type="org.eclipse.papyrus.uml.diagram.common.editparts.IUMLEditPart">
            </input>-->
         </propertySection>
         <propertySection
               class="org.openmodelica.modelicaml.tabbedproperties.editors.sections.RegionPriorityListSection"
               enablesFor="1"
               filter="org.openmodelica.modelicaml.tabbedproperties.editors.filters.RegionPrioritySectionCodeSectionFilter"
               id="org.openmodelica.modelicaml.tabbedproperties.regionpriority.tab.section"
               tab="org.openmodelica.modelicaml.tabbedproperties.regionpriority.tab">
            <!--<input
                  type="org.eclipse.gmt.modisco.infra.browser.uicore.internal.model.ModelElementItem">
            </input>
            <input
                  type="org.eclipse.papyrus.uml.diagram.common.editparts.IUMLEditPart">
            </input>-->
         </propertySection>
         <propertySection
               class="org.openmodelica.modelicaml.tabbedproperties.editors.sections.TransitionPriorityListSection"
               enablesFor="1"
               filter="org.openmodelica.modelicaml.tabbedproperties.editors.filters.StateTransitionPrioritySectionCodeSectionFilter"
               id="org.openmodelica.modelicaml.tabbedproperties.statetransitionpriority.tab.section"
               tab="org.openmodelica.modelicaml.tabbedproperties.statetransitionpriority.tab">
            <!--<input
                  type="org.eclipse.gmt.modisco.infra.browser.uicore.internal.model.ModelElementItem">
            </input>
            <input
                  type="org.eclipse.papyrus.uml.diagram.common.editparts.IUMLEditPart">
            </input>-->
         </propertySection>
         <propertySection
               class="org.openmodelica.modelicaml.tabbedproperties.editors.sections.ActivityEdgePriorityListSection"
               enablesFor="1"
               filter="org.openmodelica.modelicaml.tabbedproperties.editors.filters.ActivityEdgePrioritySectionCodeSectionFilter"
               id="org.openmodelica.modelicaml.tabbedproperties.activityedgepriority.tab.section"
               tab="org.openmodelica.modelicaml.tabbedproperties.activityedgepriority.tab">
            <!--<input
                  type="org.eclipse.gmt.modisco.infra.browser.uicore.internal.model.ModelElementItem">
            </input>
            <input
                  type="org.eclipse.papyrus.uml.diagram.common.editparts.IUMLEditPart">
            </input>-->
         </propertySection>
         <propertySection
               class="org.openmodelica.modelicaml.tabbedproperties.editors.sections.ActivityEdgeGuardCodeSection"
               enablesFor="1"
               filter="org.openmodelica.modelicaml.tabbedproperties.editors.filters.ActivityEdgeGuardCodePropertySectionEditorFilter"
               id="org.openmodelica.modelicaml.tabbedproperties.activityedgeguard.code.tab.section"
               tab="org.openmodelica.modelicaml.tabbedproperties.activityedgeguard.code.tab">
            <!--<input
                  type="org.eclipse.gmt.modisco.infra.browser.uicore.internal.model.ModelElementItem">
            </input>
            <input
                  type="org.eclipse.papyrus.uml.diagram.common.editparts.IUMLEditPart">
            </input>-->
         </propertySection>
         <propertySection
               class="org.openmodelica.modelicaml.tabbedproperties.editors.sections.AssertCodeSection"
               enablesFor="1"
               filter="org.openmodelica.modelicaml.tabbedproperties.editors.filters.AssertCodePropertySectionEditorFilter"
               id="org.openmodelica.modelicaml.tabbedproperties.assert.code.tab.section"
               tab="org.openmodelica.modelicaml.tabbedproperties.assert.code.tab">
            <!--<input
                  type="org.eclipse.gmt.modisco.infra.browser.uicore.internal.model.ModelElementItem">
            </input>
            <input
                  type="org.eclipse.papyrus.uml.diagram.common.editparts.IUMLEditPart">
            </input>-->
         </propertySection>
         <propertySection
               class="org.openmodelica.modelicaml.tabbedproperties.editors.sections.StateMachineAddCodeSection"
               enablesFor="1"
               filter="org.openmodelica.modelicaml.tabbedproperties.editors.filters.StateMachineSectionFilter"
               id="org.openmodelica.modelicaml.tabbedproperties.statemachine.additionalcode.tab.section"
               tab="org.openmodelica.modelicaml.tabbedproperties.statemachine.additionalcode.tab">
            <!--<input
                  type="org.eclipse.gmt.modisco.infra.browser.uicore.internal.model.ModelElementItem">
            </input>
            <input
                  type="org.eclipse.papyrus.uml.diagram.common.editparts.IUMLEditPart">
            </input>-->
         </propertySection>
         <propertySection
               afterSection="org.openmodelica.modelicaml.tabbedproperties.statemachine.additionalcode.tab.section"
               class="org.openmodelica.modelicaml.tabbedproperties.editors.sections.StateMachineSamplingExpressionSection"
               enablesFor="1"
               filter="org.openmodelica.modelicaml.tabbedproperties.editors.filters.StateMachineSectionFilter"
               id="org.openmodelica.modelicaml.tabbedproperties.statemachine.samplingexpression.tab.section"
               tab="org.openmodelica.modelicaml.tabbedproperties.statemachine.samplingexpression.tab">
            <!--<input
                  type="org.eclipse.gmt.modisco.infra.browser.uicore.internal.model.ModelElementItem">
            </input>
            <input
                  type="org.eclipse.papyrus.uml.diagram.common.editparts.IUMLEditPart">
            </input>-->
         </propertySection>
         <propertySection
               afterSection="org.openmodelica.modelicaml.tabbedproperties.statemachine.samplingexpression.tab.section"
               class="org.openmodelica.modelicaml.tabbedproperties.editors.sections.StateMachineFreezeExpressionSection"
               enablesFor="1"
               filter="org.openmodelica.modelicaml.tabbedproperties.editors.filters.StateMachineSectionFilter"
               id="org.openmodelica.modelicaml.tabbedproperties.statemachine.freezeexpression.tab.section"
               tab="org.openmodelica.modelicaml.tabbedproperties.statemachine.freezeexpression.tab">
            <!--<input
                  type="org.eclipse.gmt.modisco.infra.browser.uicore.internal.model.ModelElementItem">
            </input>
            <input
                  type="org.eclipse.papyrus.uml.diagram.common.editparts.IUMLEditPart">
            </input>-->
         </propertySection>
      </propertySections>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="TreeOutlinePage"
            labelProvider="org.eclipse.papyrus.infra.emf.providers.EMFLabelProvider">
         <propertyCategory
               category="org.eclipse.papyrus.modelicaml">
         </propertyCategory>
      </propertyContributor>
   </extension>

</plugin>
