<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="org.modelica.mdt.debug.core.launcher.MDTLaunchDelegate"
            id="org.modelica.mdt.debug.core.launchConfigurationType"
            modes="run, debug"
            name="Modelica Developement Tooling (MDT)"
            sourceLocatorId="org.modelica.mdt.debug.core.sourceLookupDirector.mdt"
            sourcePathComputerId="org.modelica.mdt.debug.core.sourcePathComputer.mdt">
      </launchConfigurationType>
   </extension>
   
   <extension
         point="org.eclipse.debug.core.sourceLocators">
      <sourceLocator
            name="MDT Source Lookup Director"
            class="org.modelica.mdt.debug.core.sourcelookup.MDTSourceLookupDirector"
            id="org.modelica.mdt.debug.core.sourceLookupDirector.mdt">
      </sourceLocator>
   </extension>
   
   <extension
         point="org.eclipse.debug.core.sourcePathComputers">
      <sourcePathComputer
            class="org.modelica.mdt.debug.core.sourcelookup.MDTSourcePathComputerDelegate"
            id="org.modelica.mdt.debug.core.sourcePathComputer.mdt">
      </sourcePathComputer>
   </extension>
   
   
   <extension
         point="org.eclipse.debug.core.breakpoints">
      <breakpoint
            class="org.modelica.mdt.debug.core.breakpoints.MDTLineBreakpoint"
            id="org.modelica.mdt.debug.core.lineBreakpoint"
            markerType="org.modelica.mdt.debug.core.markerType.lineBreakpoint"
            name="MDT Line Breakpoints" />            
      <breakpoint 
      		class="org.modelica.mdt.debug.core.breakpoints.MDTWatchpoint"
            name="MDT Watchpoints"
            markerType="org.modelica.mdt.debug.core.markerType.watchpoint"
            id="org.modelica.mdt.debug.core.watchpoint"/>
   </extension>
   
   <extension 
   		point="org.eclipse.core.resources.markers"
   		id="markerType.lineBreakpoint"
        name = "MDT Line Breakpoint Marker">
      <super type="org.eclipse.debug.core.lineBreakpointMarker" />
      <persistent value="true" />
   </extension>
   <extension 
   		point="org.eclipse.core.resources.markers"
   		id="markerType.watchpoint"
        name = "MDT Watchpoint Marker">
      <super type="org.modelica.mdt.debug.core.markerType.lineBreakpoint" />
      <persistent value="true" />
   </extension>


</plugin>
