<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.openmodelica.modelicaml.marker.actionCode"
         name="ModelicaML Action Code"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.emf.ecore.diagnostic">
      </super>
      <super
            type="org.eclipse.core.resources.marker">
      </super>
      <persistent
            value="true">
      </persistent>
      <attribute
            name="generatedBy">
      </attribute>
   </extension>
   <extension
         id="org.openmodelica.modelicaml.marker.omc"
         name="ModelicaML Simulation"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.emf.ecore.diagnostic">
      </super>
      <super
            type="org.eclipse.core.resources.marker">
      </super>
      <persistent
            value="false">
      </persistent>
      <attribute
            name="generatedBy">
      </attribute>
   </extension>
   <extension
         point="org.eclipse.papyrus.core.modelListener">
      <listener
            name="org.openmodelica.modelicaml.listeners.umlModelChanged"
            realization="org.openmodelica.modelicaml.common.listeners.PapyrusListener">
      </listener>
   </extension>

</plugin>
