<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            type="org.modelica.mdt.debug.core.launchConfigurationType"
            description="Run or Debug a MetaModelica program"
            class="org.modelica.mdt.debug.ui.launcher.MDTTabGroup"
            id="org.modelica.mdt.debug.ui.launchConfigurationTabGroup.mdt">
      </launchConfigurationTabGroup>
   </extension>

   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            icon="icons/full/cview16/mdt.gif"
            configTypeID="org.modelica.mdt.debug.core.launchConfigurationType"
            id="org.modelica.mdt.debug.ui.launchConfigurationTypeImage">
      </launchConfigurationTypeImage>
   </extension>
   
   <!-- Start of GDB Debugger Launch Configurations Tabs -->
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            type="org.modelica.mdt.debug.gdb.core.launchConfigurationType"
            description="Run or Debug a MetaModelica program"
            class="org.modelica.mdt.debug.gdb.ui.launcher.GDBTabGroup"
            id="org.modelica.mdt.debug.gdb.ui.launchConfigurationTabGroup.mdt">
      </launchConfigurationTabGroup>
   </extension>

   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            icon="icons/full/cview16/mdt.gif"
            configTypeID="org.modelica.mdt.debug.gdb.core.launchConfigurationType"
            id="org.modelica.mdt.debug.gdb.ui.launchConfigurationTypeImage">
      </launchConfigurationTypeImage>
   </extension>
   <!-- End of GDB Debugger Launch Configurations Tabs -->
   
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="org.modelica.mdt.debug.ui.shortcuts.MDTLaunchShortcut"
            icon="icons/full/cview16/mdt.gif"
            id="org.modelica.mdt.debug.ui.shortcuts.MDTLaunchShortcut"
            label="MetaModelica Debug"
            modes="debug, run">
         <perspective id="org.modelica.mdt.ui.ModelicaPerspective"/>
         <contextualLaunch>
            <enablement>
               <with variable="selection">
                  <count value="1"/>
                  <iterate>
                     <instanceof value="org.eclipse.core.resources.IFile"/>
                     <test
                           value="*.exe"
                           property="org.eclipse.debug.ui.matchesPattern"/>
                  </iterate>
               </with>
            </enablement>
         </contextualLaunch>         
      </shortcut>
   </extension>
   
   <extension
         point="org.eclipse.debug.ui.debugModelPresentations">
      <debugModelPresentation
            class="org.modelica.mdt.debug.ui.presentation.MDTModelPresentation"
            id="mdt.debugModel">
      </debugModelPresentation>
   </extension>
   
   <extension point="org.eclipse.ui.editorActions">
      <editorContribution targetID="org.modelica.mdt.ui.editor" id="org.modelica.mdt.ui.editor.rulerActions">
         <action
               label="Not Used"
               class="org.eclipse.debug.ui.actions.RulerToggleBreakpointActionDelegate"
               style="push"
               actionID="RulerDoubleClick"
               id="mdt.doubleClickBreakpointAction"/>
      </editorContribution>
   </extension>
      
   
   <extension
         point="org.eclipse.ui.views">
      <view
            name="MDT Data Stack"
            icon="icons/full/cview16/datastack_view.gif"
            class="org.modelica.mdt.debug.ui.views.DataStackView"
            id="org.modelica.mdt.debug.ui.view.DataStackView">
      </view>
   </extension>
   
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.debug.ui.DebugPerspective">
         <view
               relative="org.eclipse.debug.ui.VariableView"
               visible="false"
               relationship="stack"
               id="org.modelica.mdt.debug.ui.view.DataStackView">
         </view>
         <viewShortcut
               id="org.modelica.mdt.debug.ui.view.DataStackView">
         </viewShortcut>
      </perspectiveExtension>
   </extension>
   
   <extension
         point="org.eclipse.ui.contexts">
      <context
            name="Debugging MetaModelica"
            description="Debugging MetaModelica"
            id="org.modelica.mdt.debug.ui.debugging"
            parentId="org.eclipse.debug.ui.debugging">
      </context>
   </extension>
   
   <extension
         point="org.eclipse.debug.ui.debugModelContextBindings">
      <modelContextBinding
            debugModelId="mdt.debugModel"
            contextId="org.modelica.mdt.debug.ui.debugging">
      </modelContextBinding>
   </extension>
   
   <extension
         point="org.eclipse.debug.ui.contextViewBindings">
      <contextViewBinding
            viewId="org.modelica.mdt.debug.ui.view.DataStackView"
            contextId="org.modelica.mdt.debug.ui.debugging"
            autoClose="true"
            autoOpen="true">
      </contextViewBinding>
   </extension>
   
	<extension point="org.eclipse.ui.popupMenus">           
      <viewerContribution 
      	 targetID="#TextRulerContext"
      	 id="org.modelica.mdt.ui.editor.rulerActions">
         <action
               label="Toggle Breakpoint"
               class="org.eclipse.debug.ui.actions.RulerToggleBreakpointActionDelegate"
               menubarPath="debug"
               id="org.modelica.mdt.ui.editor.ruler.toggleBreakpointAction"/>
      </viewerContribution>
      <viewerContribution
            targetID="#TextEditorContext"
            id="org.modelica.mdt.ui.editor.menuActions">
         <action
               label="Run to Line"
               definitionId="org.eclipse.debug.ui.commands.RunToLine"
               class="org.eclipse.debug.ui.actions.RunToLineActionDelegate"
               menubarPath="additions"
               id="org.modelica.mdt.uieditor.context.runToLineAction"/>
      </viewerContribution>
      <objectContribution
            adaptable="false"
            id="mdt.dropToFrame"
            objectClass="org.modelica.mdt.debug.core.model.MDTStackFrame">
         <action
               class="org.modelica.mdt.debug.ui.editor.PopFrameActionDelegate"
               id="mdt.dropToFrame"
               label="Pop Frame"/>
      </objectContribution>
      <objectContribution
            objectClass="org.modelica.mdt.debug.core.breakpoints.MDTLineBreakpoint"
            id="org.modelica.mdt.debug.MDTLineBreakpointActions">
         <action
               class="org.modelica.mdt.debug.ui.actions.MDTLineBreakpointPropertiesAction"
               enablesFor="1"
               helpContextId="breakpoint_properties_action_context"
               id="org.modelica.mdt.debug.ui.actions.MDTLineBreakpointProperties"
               label="Breakpoint Properties..."
               menubarPath="additions">
         </action>
      </objectContribution>
   </extension>
      
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            class="org.modelica.mdt.debug.ui.breakpoints.MDTEditorAdapterFactory"
            adaptableType="org.eclipse.ui.texteditor.ITextEditor">
			<adapter type="org.eclipse.debug.ui.actions.IToggleBreakpointsTarget"/>
      </factory>
   </extension>
   
  <extension point="org.eclipse.ui.actionSets">
      <actionSet id="org.eclipse.debug.ui.LaunchActionSet"
            label="Launch action set"
            visible="true">
         <action
               definitionId="org.modelica.mdt.debug.ui.breakpoints.AddFailureBreakpoint"
               label="Add MetaModelica Failure Breakpoint..."
               icon="icons/full/elcl16/failure.gif"
               class="org.modelica.mdt.debug.ui.breakpoints.AddFailureAction"
               menubarPath="org.eclipse.ui.run/breakpointGroup"
               id="org.modelica.mdt.debug.ui.actions.AddFailureBreakpoint">
         </action>
      </actionSet>                     
   </extension>

   <extension
         point="org.eclipse.ui.propertyPages">      
      <page
            name="Filtering"
            class="org.modelica.mdt.debug.ui.propertypages.MDTFailureBreakpointAdvancedPage"
            id="org.modelica.mdt.debug.ui.propertypages.MDTFailureBreakpointAdvancedPage">
         <enabledWhen>
            <or>
               <instanceof
                     value="org.modelica.mdt.debug.core.IMDTFailureBreakpoint">
               </instanceof>
               <adapt
                     type="org.modelica.mdt.debug.core.IMDTFailureBreakpoint">
               </adapt>
            </or>
         </enabledWhen>
      </page>
      <page
            name="Breakpoint Properties"
            class="org.modelica.mdt.debug.ui.propertypages.MDTFailureBreakpointPage"
            id="org.modelica.mdt.debug.ui.propertypages.FailureBreakpoint">
         <enabledWhen>
            <or>
               <instanceof
                     value="org.modelica.mdt.debug.core.IMDTFailureBreakpoint">
               </instanceof>
               <adapt
                     type="org.modelica.mdt.debug.core.IMDTFailureBreakpoint">
               </adapt>
            </or>
         </enabledWhen>
      </page>
      <page
            name="Breakpoint Properties"
            class="org.modelica.mdt.debug.ui.propertypages.MDTLineBreakpointPage"
            id="org.eclipse.jdt.debug.ui.propertypages.LineBreakpoints">
         <enabledWhen>
            <or>
               <instanceof
                     value="org.modelica.mdt.debug.core.breakpoints.MDTLineBreakpoint">
               </instanceof>
               <adapt
                     type="org.modelica.mdt.debug.core.breakpoints.MDTLineBreakpoint">
               </adapt>
            </or>
         </enabledWhen>
      </page>
   </extension>

</plugin>
