<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.openmodelica.modelicaml.gen.modelica.category1"
            class="org.openmodelica.modelicaml.view.componentstree.display.ComponentsTree"
            icon="icons/tree_co.gif"
            id="org.openmodelica.modelicaml.view.componentstree"
            name="Class Components Tree">
      </view>
   </extension>

</plugin>
