<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <view
            name="Modelica Models Synchronization"
            icon="icons/code.png"
            category="org.openmodelica.modelicaml.gen.modelica.category1"
            class="org.openmodelica.modelicaml.modelica.importer.views.ModelicaOMCCodeViewer"
            id="org.openmodelica.modelicaml.modelica.importer.views.ModelicaOMCCodeViewer">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.openmodelica.modelicaml.perspective">
         <view
               ratio="0.5"
               relative="org.openmodelica.modelicaml.view.componentstree"
               relationship="bottom"
               id="org.openmodelica.modelicaml.modelica.importer.views.ModelicaOMCCodeViewer">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         id="org.openmodelica.modelicaml.modelicamlMarker.modelicamlproxies"
         name="Modelica Model Proxies Synchronization"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.emf.ecore.diagnostic">
      </super>
      <super
            type="org.eclipse.core.resources.marker">
      </super>
      <persistent
            value="false">
      </persistent>
      <attribute
            name="generatedBy">
      </attribute>
   </extension>
   <extension
         id="org.openmodelica.modelicaml.modelicamlMarker.modelicaloading"
         name="OMC Modelica Models Loading"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.marker">
      </super>
      <persistent
            value="false">
      </persistent>
      <attribute
            name="generatedBy">
      </attribute>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="org.openmodelica.modelicaml.modelica.toolbar"
               label="ModelicaML Modelica Models Synchronization">
            <separator
                  name="org.openmodelica.modelicaml.modelica.importer.separator3">
            </separator>
            <command
                  commandId="org.openmodelica.modelicaml.modelica.commands.synchronizemodelicamodelproxies"
                  icon="icons/code.png"
                  label="Synchronize Modelica Models"
                  style="push"
                  tooltip="Synchronize Modelica Models">
               <visibleWhen>
                  <with
                        variable="activeEditorId">
                     <equals
                           value="org.eclipse.papyrus.core.papyrusEditor">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="org.openmodelica.modelicaml.perspective">
                  </equals>
               </with>
            </visibleWhen>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.papyrus.modelexplorer.modelexplorer.popup">
         <menu
               icon="icons/code2.png"
               label="ModelicaML: Modelica Models Synchronization">
            <command
                  commandId="org.openmodelica.modelicaml.modelica.commands.disconnectfromcodesync"
                  icon="icons/launch_disconnect.gif"
                  style="push">
            </command>
            <command
                  commandId="org.openmodelica.modelicaml.modelica.commands.connecttocodesync"
                  icon="icons/connect_co.gif"
                  style="push">
            </command>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="org.openmodelica.modelicaml.perspective">
                  </equals>
                  <and>
                     <with
                           variable="selection">
                        <count
                              value="1">
                        </count>
                        <iterate>
                           <adapt
                                 type="org.eclipse.emf.ecore.EObject">
                              <and>
                                 <or>
                                    <test
                                          args="ModelicaML::ModelReferences::ModelicaModelProxy"
                                          property="org.openmodelica.modelicaml.testers.hasStereotype">
                                    </test>
                                    <instanceof
                                          value="org.eclipse.uml2.uml.Class">
                                    </instanceof>
                                    <instanceof
                                          value="org.eclipse.uml2.uml.Package">
                                    </instanceof>
                                    <test
                                          args="ModelicaML::ModelicaClassConstructs::Block"
                                          property="org.openmodelica.modelicaml.testers.hasStereotype">
                                    </test>
                                    <test
                                          args="ModelicaML::ModelicaClassConstructs::Model"
                                          property="org.openmodelica.modelicaml.testers.hasStereotype">
                                    </test>
                                    <test
                                          args="ModelicaML::ModelicaClassConstructs::ModelicaClass"
                                          property="org.openmodelica.modelicaml.testers.hasStereotype">
                                    </test>
                                    <test
                                          args="ModelicaML::ModelicaClassConstructs::ModelicaPackage"
                                          property="org.openmodelica.modelicaml.testers.hasStereotype">
                                    </test>
                                    <test
                                          args="ModelicaML::ModelicaClassConstructs::Function"
                                          property="org.openmodelica.modelicaml.testers.hasStereotype">
                                    </test>
                                    <test
                                          args="ModelicaML::ModelicaClassConstructs::Connector"
                                          property="org.openmodelica.modelicaml.testers.hasStereotype">
                                    </test>
                                    <test
                                          args="ModelicaML::ModelicaClassConstructs::Record"
                                          property="org.openmodelica.modelicaml.testers.hasStereotype">
                                    </test>
                                 </or>
                              </and>
                           </adapt>
                        </iterate>
                     </with>
                  </and>
               </with>
            </visibleWhen>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.openmodelica.modelicaml.modelica.commands.synchronizemodelicamodelproxies"
            name="Synchronize Modelica Models">
      </command>
      <command
            id="org.openmodelica.modelicaml.modelica.commands.disconnectfromcodesync"
            name="Disconnect From Modelica Models Synchronization">
      </command>
      <command
            id="org.openmodelica.modelicaml.modelica.commands.connecttocodesync"
            name="Connect To Modelica Models Synchronization">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.openmodelica.modelicaml.modelica.importer.handlers.SynchronizeModelicaModelProxiesHandler"
            commandId="org.openmodelica.modelicaml.modelica.commands.synchronizemodelicamodelproxies">
      </handler>
      <handler
            class="org.openmodelica.modelicaml.modelica.importer.handlers.DisconnectFromCodeSyncHandler"
            commandId="org.openmodelica.modelicaml.modelica.commands.disconnectfromcodesync">
         <activeWhen>
            <with
                  variable="selection">
               <count
                     value="1">
               </count>
               <iterate>
                  <adapt
                        type="org.eclipse.emf.ecore.EObject">
                     <and>
                        <test
                              args="ModelicaML::ModelReferences::ModelicaModelProxy"
                              property="org.openmodelica.modelicaml.testers.hasStereotype">
                        </test>
                     </and>
                  </adapt>
               </iterate>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="org.openmodelica.modelicaml.modelica.importer.handlers.ConnectToCodeSyncHandler"
            commandId="org.openmodelica.modelicaml.modelica.commands.connecttocodesync">
         <activeWhen>
            <with
                  variable="selection">
               <count
                     value="1">
               </count>
               <iterate>
                  <adapt
                        type="org.eclipse.emf.ecore.EObject">
                     <and>
                        <or>
                           <test
                                 args="ModelicaML::ModelicaClassConstructs::Block"
                                 property="org.openmodelica.modelicaml.testers.hasStereotype">
                           </test>
                           <test
                                 args="ModelicaML::ModelicaClassConstructs::Model"
                                 property="org.openmodelica.modelicaml.testers.hasStereotype">
                           </test>
                           <test
                                 args="ModelicaML::ModelicaClassConstructs::ModelicaClass"
                                 property="org.openmodelica.modelicaml.testers.hasStereotype">
                           </test>
                           <test
                                 args="ModelicaML::ModelicaClassConstructs::ModelicaPackage"
                                 property="org.openmodelica.modelicaml.testers.hasStereotype">
                           </test>
                           <test
                                 args="ModelicaML::ModelicaClassConstructs::Function"
                                 property="org.openmodelica.modelicaml.testers.hasStereotype">
                           </test>
                           <test
                                 args="ModelicaML::ModelicaClassConstructs::Connector"
                                 property="org.openmodelica.modelicaml.testers.hasStereotype">
                           </test>
                           <test
                                 args="ModelicaML::ModelicaClassConstructs::Record"
                                 property="org.openmodelica.modelicaml.testers.hasStereotype">
                           </test>
                           <instanceof
                                 value="org.eclipse.uml2.uml.Package">
                           </instanceof>
                        </or>
                        <and>
                           <not>
                              <test
                                    args="ModelicaML::ModelReferences::ModelicaModelProxy"
                                    property="org.openmodelica.modelicaml.testers.hasStereotype">
                              </test>
                           </not>
                        </and>
                     </and>
                  </adapt>
               </iterate>
            </with>
         </activeWhen>
      </handler>
   </extension>

</plugin>
