<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <view
            name="Modelica Models"
            icon="icons/code.png"
            category="org.openmodelica.modelicaml.gen.modelica.category1"
            class="org.openmodelica.modelicaml.modelica.importer.views.ModelicaOMCCodeViewer"
            id="org.openmodelica.modelicaml.modelica.importer.views.ModelicaOMCCodeViewer">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="org.openmodelica.modelicaml.modelica.importer.views.ModelicaOMCCodeViewer">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         id="org.openmodelica.modelicaml.modelicamlMarker.modelicamlproxies"
         name="Modelica Model Proxies Synchronization"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.emf.ecore.diagnostic">
      </super>
      <super
            type="org.eclipse.core.resources.marker">
      </super>
      <persistent
            value="false">
      </persistent>
      <attribute
            name="generatedBy">
      </attribute>
   </extension>
   <extension
         id="org.openmodelica.modelicaml.modelicamlMarker.modelicaloading"
         name="OMC Modelica Models Loading"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.marker">
      </super>
      <persistent
            value="false">
      </persistent>
      <attribute
            name="generatedBy">
      </attribute>
   </extension>

</plugin>
