<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="fr.obeo.acceleo.gen.module">
      <module
            chainPath="bin/code_generation.chain"
            description="Generate Modelica Code from a ModelicaML Model"
            title="ModelicaML Code Generator">
         <parameter
               description="ModelicaML model"
               dialog="FILE_SELECTION"
               extensions="uml">
         </parameter>
         <parameter
               description="Output Folder"
               dialog="FOLDER_SELECTION">
         </parameter>
         <parameter
               description="Log file"
               dialog="FILE_SELECTION"
               extensions="log">
         </parameter>
      </module>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.openmodelica.modelicaml.gen.modelica.category1"
            name="ModelicaML">
      </category>
      <!--
      <view
            allowMultiple="false"
            category="org.openmodelica.modelicaml.gen.modelica.category1"
            class="org.openmodelica.modelicaml.gen.modelica.validation.view.ModelicaMLValidationView"
            icon="icons/validate.gif"
            id="org.openmodelica.modelicaml.gen.modelica.validation"
            name="(DEPRECATED) ModelicaML Validation"
            restorable="true">
         <description>
            This view displays the validation errors and messages detected by the ModelicaML validator.
         </description>
      </view>
      -->
   </extension>
<extension id="org.openmodelica.modelicaml.marker.validation" point="org.eclipse.core.resources.markers" name="ModelicaML Validation">
  <super  type="org.eclipse.emf.ecore.diagnostic"/>
  <super type="org.eclipse.core.resources.marker"/>
  <persistent value="true"/>
  <attribute
        name="generatedBy">
  </attribute>
</extension>
   <extension
         point="org.eclipse.ui.ide.markerSupport">
      <markerContentGenerator
            id="org.openmodelica.modelicaml.markerContentGenerator"
            name="ModelicaML marker generator">
         <markerTypeReference
               id="org.openmodelica.modelicaml.modelicamlMarker.validation">
         </markerTypeReference>
         <markerTypeReference
               id="org.openmodelica.modelicaml.modelicamlMarker.actionCode.valueBindings">
         </markerTypeReference>
         <markerTypeReference
               id="org.openmodelica.modelicaml.modelicamlMarker.actionCode.componentmodification">
         </markerTypeReference>
         <markerTypeReference
               id="org.openmodelica.modelicaml.modelicamlMarker.modelicamlproxies">
         </markerTypeReference>
         <markerTypeReference
               id="org.openmodelica.modelicaml.modelicamlMarker.modelicaloading">
         </markerTypeReference>
         <markerTypeReference
               id="org.openmodelica.modelicaml.modelicamlMarker.actionCode">
         </markerTypeReference>
         <markerTypeReference
               id="org.openmodelica.modelicaml.modelicamlMarker.omc">
         </markerTypeReference>
         <markerFieldReference
               id="org.eclipse.ui.ide.severityAndDescriptionField"
               visible="true">
         </markerFieldReference>
         <markerFieldReference
               id="org.eclipse.ui.ide.locationField"
               visible="true">
         </markerFieldReference>
         <markerFieldReference
               id="org.eclipse.ui.ide.creationTimeField"
               visible="true">
         </markerFieldReference>
         <markerFieldReference
               id="org.eclipse.ui.ide.markerType"
               visible="true">
         </markerFieldReference>
         <markerTypeReference
               id="org.eclipse.emf.validation.problem">
         </markerTypeReference>
      </markerContentGenerator>
   </extension>
   <!--<extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.papyrus.modelexplorer.modelexplorer.popup">
         <menu
               icon="icons/launcher.gif"
               label="ModelicaML: Validation and Code Generation">
            <command
                  commandId="com.eadsiw.modelicaml.commands.ValidateModelicaMLModel"
                  icon="icons/validate.gif"
                  label="Validate ModelicaML Model (entire model)"
                  style="push"
                  tooltip="Validate ModelicaML Model (entire model)">
               <visibleWhen
                     checkEnabled="true">
                  <with
                        variable="selection">
                     <count
                           value="1">
                     </count>
                     <iterate>
                        <adapt
                              type="org.eclipse.emf.ecore.EObject">
                           <or>
                              <instanceof
                                    value="org.eclipse.uml2.uml.Package">
                              </instanceof>
                              <instanceof
                                    value="org.eclipse.uml2.uml.Class">
                              </instanceof>
                           </or>
                        </adapt>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="com.eadsiw.modelicaml.commands.GenerateModelicaCodeFromThisElement"
                  icon="icons/launcher.gif"
                  label="Generate Modelica Code (starting from this element)"
                  style="push"
                  tooltip="Generate Modelica Code (starting from this element)">
               <visibleWhen
                     checkEnabled="true">
                  <with
                        variable="selection">
                     <count
                           value="1">
                     </count>
                     <iterate>
                        <adapt
                              type="org.eclipse.emf.ecore.EObject">
                           <or>
                              <instanceof
                                    value="org.eclipse.uml2.uml.Package">
                              </instanceof>
                              <instanceof
                                    value="org.eclipse.uml2.uml.Class">
                              </instanceof>
                           </or>
                        </adapt>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="org.openmodelica.modelicaml.perspective">
                  </equals>
               </with>
            </visibleWhen>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="com.eadsiw.modelicaml.toolbar2"
               label="ModelicaML">
            <command
                  commandId="com.eadsiw.modelicaml.commands.GenerateModelicaCode"
                  icon="icons/launcher.gif"
                  label="Generate Modelica Code (from entire ModelicaML model)"
                  style="push"
                  tooltip="Generate Modelica Code (from entire ModelicaML model)">
               <visibleWhen>
                  <with
                        variable="activeEditorId">
                     <equals
                           value="org.eclipse.papyrus.core.papyrusEditor">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="com.eadsiw.modelicaml.commands.ValidateModelicaMLModel"
                  icon="icons/validate.gif"
                  label="Validate ModelicaML Model (entire model)"
                  style="push"
                  tooltip="Validate ModelicaML Model (entire model)">
               <visibleWhen>
                  <with
                        variable="activeEditorId">
                     <equals
                           value="org.eclipse.papyrus.core.papyrusEditor">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="org.openmodelica.modelicaml.perspective">
                  </equals>
               </with>
            </visibleWhen>
         </toolbar>
      </menuContribution>
   </extension>-->
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.openmodelica.modelicaml.gen.modelica.commands.GenerateModelicaCode"
            name="Generate Modelica Code">
      </command>
      <command
            id="org.openmodelica.modelicaml.gen.modelica.commands.ValidateModelicaMLModel"
            name="Validate ModelicaML Model">
      </command>
      <command
            id="org.openmodelica.modelicaml.gen.modelica.commands.GenerateModelicaCodeFromThisElement"
            name="Generate Modelica Code From This Element">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.openmodelica.modelicaml.gen.modelica.popupactions.GenerateModelicaCodeFromEntireModelicaMLModelAction"
            commandId="org.openmodelica.modelicaml.gen.modelica.commands.GenerateModelicaCode">
      </handler>
      <handler
            class="org.openmodelica.modelicaml.gen.modelica.popupactions.ValidateEntireModelicaMLModelAction"
            commandId="org.openmodelica.modelicaml.gen.modelica.commands.ValidateModelicaMLModel">
      </handler>
      <handler
            class="org.openmodelica.modelicaml.gen.modelica.popupactions.GenerateModelicaCodeStartingFromThisElementOfModelicaMLModelAction"
            commandId="org.openmodelica.modelicaml.gen.modelica.commands.GenerateModelicaCodeFromThisElement">
         <activeWhen>
            <with
                  variable="selection">
               <count
                     value="1">
               </count>
               <iterate>
                  <adapt
                        type="org.eclipse.emf.ecore.EObject">
                     <and>
                        <not>
                           <instanceof
                                 value="org.eclipse.uml2.uml.Behavior">
                           </instanceof>
                        </not>
                        <instanceof
                              value="org.eclipse.uml2.uml.Class">
                        </instanceof>
                     </and>
                  </adapt>
               </iterate>
            </with>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.papyrus.core.modelListener">
      <listener
            name="org.openmodelica.modelicaml.gen.modelica.listeners.ModelicaCodeRegenerationListener"
            realization="org.openmodelica.modelicaml.gen.modelica.listeners.PapyrusListener">
      </listener>
   </extension>
   <extension
         point="fr.obeo.acceleo.chain.postGeneration">
      <post
            class="org.openmodelica.modelicaml.gen.modelica.postactions.PostGenerationForAutomaticBuild">
      </post>
   </extension>

</plugin>
