<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <command
            name="Apply ModelicaML Stereotypes"
            id="org.openmodelica.modelicaml.development.profile.update.helper.commands.applyStereotypes">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="org.openmodelica.modelicaml.development.profile.update.helper.commands.applyStereotypes"
            class="org.openmodelica.modelicaml.development.profile.update.helper.handlers.ApplyModelicaMLStereotypes">
      </handler>
   </extension>
   <!--
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.papyrus.views.modelexplorer.modelexplorer.popup">
         <separator
               name="org.openmodelica.modelicaml.development.profile.update.helper.separator1">
         </separator>
         <command
               commandId="org.openmodelica.modelicaml.development.profile.update.helper.commands.applyStereotypes"
               icon="icons/Profile.gif"
               id="org.openmodelica.modelicaml.development.profile.update.helper.menus.sampleCommand"
               label="Apply/Unapply ModelicaML Stereotypes"
               mnemonic="S">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="org.openmodelica.modelicaml.perspective">
                  </equals>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
     
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="org.openmodelica.modelicaml.development.profile.update.helper.toolbars.sampleToolbar">
            <command
                  commandId="org.openmodelica.modelicaml.development.profile.update.helper.commands.applyStereotypes"
                  icon="icons/Profile.gif"
                  id="org.openmodelica.modelicaml.development.profile.update.helper.toolbars.sampleCommand"
                  label="Apply/Unapply ModelicaML Stereotypes"
                  tooltip="Apply/Unapply ModelicaML Stereotypes">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
    -->

</plugin>
