<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="compiler" name="Modelica Compiler" schema="schema/compiler.exsd"/>
 
   <extension
         id="ModelicaNature"
         name="Modelica"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run class="org.modelica.mdt.internal.core.ModelicaNature"/>
      </runtime>
      <builder id="org.modelica.mdt.core.syntaxChecker"/>
   </extension>
   
   <extension
   		id="syntaxChecker"
   		name="Modelica Syntax Checker"
   		point="org.eclipse.core.resources.builders">
   		<builder hasNature="true">
   			<run
   				class="org.modelica.mdt.core.builder.SyntaxChecker">
   				<parameter
             name="comment"
             value="Builder Comment"/>
   			</run>
   		</builder>
   	</extension>
   <extension
         id="unexpectednamespacemarker"
         name="Bad Within Statement Marker"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.problemmarker"/>
      <persistent value="true"/>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="org.modelica.mdt.core.preferences.PreferenceManager"/>
   </extension>
</plugin>
