<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <!-- NOTE: all marker types are defined in the mml.common plugin 
	<extension
       id="org.openmodelica.modelicaml.marker.bindings"
       name="ModelicaML Value Bindings"
       point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.emf.validation.problem">
      </super>
      <super
            type="org.eclipse.emf.ecore.diagnostic">
      </super>
      <super
            type="org.eclipse.core.resources.marker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   -->
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.openmodelica.modelicaml.view.valuebindings"
            name="Bindings"
            parentCategory="org.openmodelica.modelicaml.category">
      </category>
      <view
            allowMultiple="false"
            category="org.openmodelica.modelicaml.category"
            class="org.openmodelica.modelicaml.view.valuebindings.views.ValueBindingsView"
            icon="icons/valueMediator.png"
            id="org.openmodelica.modelicaml.view.valuebindings.views.ValueBindingsView"
            name="Bindings">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.openmodelica.modelicaml.perspective">
         <view
               id="org.openmodelica.modelicaml.view.valuebindings.views.ValueBindingsView"
               ratio="0.5"
               relationship="stack"
               relative="org.openmodelica.modelicaml.view.componentstree">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="org.openmodelica.modelicaml.view.valuebindings.views.ValueBindingsView"
            labelProvider="org.openmodelica.modelicaml.view.valuebindings.sections.LabelProvider_Details">
         <propertyCategory
               category="org.eclipse.papyrus.modelicaml"></propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="org.openmodelica.modelicaml.view.valuebindings.views.ValueBindingsView">
         <propertyTab
               category="org.eclipse.papyrus.modelicaml"
               id="org.openmodelica.modelicaml.view.valuebindings.properties.tab.details"
               label="Details">
         </propertyTab>
         <propertyTab
               afterTab="org.openmodelica.modelicaml.view.valuebindings.properties.tab.details"
               category="org.eclipse.papyrus.modelicaml"
               id="org.openmodelica.modelicaml.view.valuebindings.properties.tab.clientoperationeditor"
               label="Client Operation">
         </propertyTab>
         <propertyTab
               afterTab="org.openmodelica.modelicaml.view.valuebindings.properties.tab.details"
               category="org.eclipse.papyrus.modelicaml"
               id="org.openmodelica.modelicaml.view.valuebindings.properties.tab.mediatoroperationeditor"
               label="Mediator Operation">
         </propertyTab>
         <propertyTab
               afterTab="org.openmodelica.modelicaml.view.valuebindings.properties.tab.details"
               category="org.eclipse.papyrus.modelicaml"
               id="org.openmodelica.modelicaml.view.valuebindings.properties.tab.provideroperationeditor"
               label="Provider Operation">
         </propertyTab>
         <propertyTab
               afterTab="org.openmodelica.modelicaml.view.valuebindings.properties.tab.mediatoroperationeditor"
               category="org.eclipse.papyrus.modelicaml"
               id="org.openmodelica.modelicaml.view.valuebindings.properties.tab.mediatorpreferredbindings"
               label="Preferred Bindings">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="org.openmodelica.modelicaml.view.valuebindings.views.ValueBindingsView">
         <propertySection
               class="org.openmodelica.modelicaml.view.valuebindings.sections.PropertySection_Details"
               filter="org.openmodelica.modelicaml.view.valuebindings.filters.PropertySectionFilter_Details"
               id="org.openmodelica.modelicaml.view.valuebindings.propertySection.details"
               tab="org.openmodelica.modelicaml.view.valuebindings.properties.tab.details">
            <input
                  type="org.openmodelica.modelicaml.view.valuebindings.model.TreeObject">
            </input>
         </propertySection>
         <propertySection
               class="org.openmodelica.modelicaml.view.valuebindings.sections.PropertySection_ClientOperationEditor"
               filter="org.openmodelica.modelicaml.view.valuebindings.filters.PropertySectionFilter_ClientOperation"
               id="org.openmodelica.modelicaml.view.valuebindings.propertySection.clientoperationeditor"
               tab="org.openmodelica.modelicaml.view.valuebindings.properties.tab.clientoperationeditor">
            <input
                  type="org.openmodelica.modelicaml.view.valuebindings.model.TreeObject">
            </input>
         </propertySection>
         <propertySection
               class="org.openmodelica.modelicaml.view.valuebindings.sections.PropertySection_MediatorOperationEditor"
               filter="org.openmodelica.modelicaml.view.valuebindings.filters.PropertySectionFilter_MediatorOperation"
               id="org.openmodelica.modelicaml.view.valuebindings.propertySection.mediatoroperationeditor"
               tab="org.openmodelica.modelicaml.view.valuebindings.properties.tab.mediatoroperationeditor">
            <input
                  type="org.openmodelica.modelicaml.view.valuebindings.model.TreeObject">
            </input>
         </propertySection>
         <propertySection
               class="org.openmodelica.modelicaml.view.valuebindings.sections.PropertySection_ProviderOperationEditor"
               filter="org.openmodelica.modelicaml.view.valuebindings.filters.PropertySectionFilter_ProviderOperation"
               id="org.openmodelica.modelicaml.view.valuebindings.propertySection.providerperationeditor"
               tab="org.openmodelica.modelicaml.view.valuebindings.properties.tab.provideroperationeditor">
            <input
                  type="org.openmodelica.modelicaml.view.valuebindings.model.TreeObject">
            </input>
         </propertySection>
         <propertySection
               class="org.openmodelica.modelicaml.view.valuebindings.sections.PropertySection_MediatorPreferredProviders"
               filter="org.openmodelica.modelicaml.view.valuebindings.filters.PropertySectionFilter_MediatorPreferredProviders"
               id="org.openmodelica.modelicaml.view.valuebindings.propertySection.mediatorpreferredbindings"
               tab="org.openmodelica.modelicaml.view.valuebindings.properties.tab.mediatorpreferredbindings">
            <input
                  type="org.openmodelica.modelicaml.view.valuebindings.model.TreeObject">
            </input>
         </propertySection>
      </propertySections>
   </extension>
   <extension
         point="org.eclipse.papyrus.infra.core.modelListener">
      <listener
            name="org.openmodelica.modelicaml.view.valuebindings.listener1"
            realization="org.openmodelica.modelicaml.view.valuebindings.listeners.PapyrusListener">
      </listener>
   </extension>

</plugin>
