<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.openmodelica.org/modelicaml/editor/xtext/activity/Activitycontrolflowguardexpression" 
       class = "org.openmodelica.modelicaml.editor.xtext.activity.activitycontrolflowguardexpression.ActivitycontrolflowguardexpressionPackage"
       genModel = "org/openmodelica/modelicaml/editor/xtext/activity/Activitycontrolflowguardexpression.genmodel" /> 
	
  </extension>





</plugin>
