<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <!--<extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.papyrus.modelexplorer.modelexplorer.popup">
         <menu
               icon="icons/timeline_marker.png"
               label="ModelicaML: Simulation">
            <command
                  commandId="com.eadsiw.modelicaml.simulation.commands.CGAndSimulateThisClassWithOMC"
                  icon="icons/timeline_marker.png"
                  label="Simulate with OMC"
                  style="push"
                  tooltip="Simulate and Plot with OMC">
               <visibleWhen
                     checkEnabled="true">
                  <with
                        variable="selection">
                     <count
                           value="1">
                     </count>
                     <iterate>
                        <adapt
                              type="org.eclipse.emf.ecore.EObject">
                           <or>
                              <instanceof
                                    value="org.eclipse.uml2.uml.Package">
                              </instanceof>
                              <instanceof
                                    value="org.eclipse.uml2.uml.Class">
                              </instanceof>
                           </or>
                        </adapt>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="com.eadsiw.modelicaml.simulation.commands.CGAndSimulateThisClassWithOMCSimCenter"
                  icon="icons/timeline_marker.png"
                  label="Simulate with OMSim Center"
                  style="push"
                  tooltip="Open in OMC Simulation Center">
               <visibleWhen
                     checkEnabled="true">
                  <with
                        variable="selection">
                     <count
                           value="1">
                     </count>
                     <iterate>
                        <adapt
                              type="org.eclipse.emf.ecore.EObject">
                           <or>
                              <instanceof
                                    value="org.eclipse.uml2.uml.Package">
                              </instanceof>
                              <instanceof
                                    value="org.eclipse.uml2.uml.Class">
                              </instanceof>
                           </or>
                        </adapt>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="org.openmodelica.modelicaml.perspective">
                  </equals>
               </with>
            </visibleWhen>
         </menu>
      </menuContribution>
   </extension>-->
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.openmodelica.modelicaml.simulation.commands.CGAndSimulateThisClassWithOMC"
            name="Simulate with OMC">
      </command>
      <command
            id="org.openmodelica.modelicaml.simulation.commands.CGAndSimulateThisClassWithOMCSimCenter"
            name="Simulate with OMC Simulation Center">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.openmodelica.modelicaml.simulation.handlers.GenerateModelicaCodeFromEntireModelicaMLModelAndSimulationThisClassWithOMCAction"
            commandId="org.openmodelica.modelicaml.simulation.commands.CGAndSimulateThisClassWithOMC">
         <activeWhen>
            <with
                  variable="selection">
               <count
                     value="1">
               </count>
               <iterate>
                  <adapt
                        type="org.eclipse.emf.ecore.EObject">
                     <and>
                        <not>
                           <instanceof
                                 value="org.eclipse.uml2.uml.Behavior">
                           </instanceof>
                        </not>
                        <instanceof
                              value="org.eclipse.uml2.uml.Class">
                        </instanceof>
                     </and>
                  </adapt>
               </iterate>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="org.openmodelica.modelicaml.simulation.handlers.GenerateModelicaCodeFromEntireModelicaMLModelAndSimulationThisClassWithOMCSimCenterAction"
            commandId="org.openmodelica.modelicaml.simulation.commands.CGAndSimulateThisClassWithOMCSimCenter">
         <activeWhen>
            <with
                  variable="selection">
               <count
                     value="1">
               </count>
               <iterate>
                  <adapt
                        type="org.eclipse.emf.ecore.EObject">
                     <and>
                        <not>
                           <instanceof
                                 value="org.eclipse.uml2.uml.Behavior">
                           </instanceof>
                        </not>
                        <instanceof
                              value="org.eclipse.uml2.uml.Class">
                        </instanceof>
                     </and>
                  </adapt>
               </iterate>
            </with>
         </activeWhen>
      </handler>
   </extension>

</plugin>
